<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="update">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" readonly><br>
        
        <label for="value">value</label>
        <input type="text" id="value" name="value"><br>
        
        <input type="submit" value="update">
    </form>
    <form id="delete">
        <input type="submit" value="delete">
    </form>
<script src="./js/jquery.min.js"></script>
<script src="./js/update_voucher.js"></script>
<script type="text/javascript">(function(){window['__CF$cv$params']={r:'6d8e8852fbf64745',m:'pdpW.uDVPAbOUBgn0yTmXW7MDQCk5Svg6ZMaAKBBaaQ-1644089209-0-Aa0Nt3RqMUXM2V6/BDQ+gZ1bD6zKwtyrGTtNH/fv3T1csWYrMr+h8wP6dqKe0GNkSxW2ULdii8I7KzQr20Jv4QCp8pcO1kFeaX3cXIHeHm0E03bv8/gIFSvSMLv/YE164yxw34jRHKtpPZqRQHObOFOSy2HNz7bei6fTFjYROAUot7WiZlNEos3yIAp5vh87wCqatc7iGn+sEF6o7P/t9jQ=',s:[0x714eb78444,0x668fe8341e],}})();</script></body>
</html>