<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<script async src='/cdn-cgi/bm/cv/669835187/api.js'></script></head>
<body>
    <a href="/addVoucher">Add voucher</a>
    <table border="1">
        <thead>
          <tr>
            <th>Name: </th>
            <th>Value: </th>
          </tr>
        </thead>
        <tbody id="voucher">
        
        </tbody>
      </table>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/view_voucher.js"></script>
<script type="text/javascript">(function(){window['__CF$cv$params']={r:'6d8e87cd4b384d9f',m:'aMqIDUm7vp8BSfQa0C38ZS1H0h4S0sBJAOm_2A5EmeQ-1644089187-0-AbZ8GDlLsagfn6Nrc8Rg+8Bq9GNm0L7+EnQpOnHM6FHq9hf4LPeGy3cz+8uvq4UscKYYK7rxJzPb6XJuLycFlwwPNCvArN1ZFWdYoP6Adp/rkoBoCy80jhcFDidrw2GVcgCsub7G7OzW0Vx/sYGOoe/rSvrNK815kR9xI5WeW4qRzSj2QWy0QgSiYZ5MEpVf+n6r9curftpOiKj/Oy2Xhe0=',s:[0x6452fb4a61,0xe0f1e375d8],}})();</script></body>
</html>